.chat-main
  .main-header
    .main-header__left__box
      %p.current-group JAPAN Travel Tweet
      %p.current-group 北海道
    = link_to "#" do
      .edit-btn 投稿
  .messages
    .messages__box
      .messages__box__username
        %p.user-name 西雄平
        %p.date-and-time 2020/4/15(Wed) 00:00:00
      %p.comment おはよう
    .messages__box
      .messages__box__username
        %p.user-name 西雄平
        %p.date-and-time 2020/4/15(Wed) 00:00:00
      %p.comment おはよう
    .messages__box
      .messages__box__username
        %p.user-name 西雄平
        %p.date-and-time 2020/4/15(Wed) 00:00:00
      %p.comment おはよう
    .messages__box
      .messages__box__username
        %p.user-name 西雄平
        %p.date-and-time 2020/4/15(Wed) 00:00:00
      %p.comment おはよう
      
.chat-side_right
  .side-header_right
    .side-box_right 