.chat-main
  .main-header
    .main-header__left__box
      %p.current-group JAPAN Travel Tweet
      %p.current-group 北海道
    = link_to "#" do
      .edit-btn 投稿
  .messages
    .message__box
      .message__username
        %p.user-name 西雄平
        %p.date-and-time 2020/4/15(Wed) 00:00:00
      %p.comment おはよう
    .message__box
      .message__username
        %p.user-name 西雄平
        %p.date-and-time 2020/4/15(Wed) 00:00:00
      %p.comment おはよう
    .message__box
      .message__username
        %p.user-name 西雄平
        %p.date-and-time 2020/4/15(Wed) 00:00:00
      %p.comment おはよう
    .message__box
      .message__username
        %p.user-name 西雄平
        %p.date-and-time 2020/4/15(Wed) 00:00:00
      %p.comment おはよう
    .message__box
      .message__username
        %p.user-name 西雄平
        %p.date-and-time 2020/4/15(Wed) 00:00:00
      %p.comment おはよう
    .message__box
      .message__username
        %p.user-name 西雄平
        %p.date-and-time 2020/4/15(Wed) 00:00:00
      %p.comment おはよう