.chat-side
  .side-header
    .side-box 
      .user-name
        = current_user.name
      %ul.menu
        = link_to edit_user_path(current_user), class: "edit-user" do
          %i.fa.fa-cog
  .groups
    .groups__box
      %p.groups__box__name 北海道
    .groups__box
      %p.groups__box__name 北海道
    .groups__box
      %p.groups__box__name 北海道
    .groups__box
      %p.groups__box__name 北海道
    .groups__box
      %p.groups__box__name 北海道
    .groups__box
      %p.groups__box__name 北海道