.chat-side
  .side-header
    .side-box 
      .user-name 西雄平
      %ul.menu
        = link_to "#", class: "edit-user" do
          %i.fa.fa-cog
  .groups
    .groups__box
      %p.groups__box__name 北海道
    .groups__box
      %p.groups__box__name 北海道
    .groups__box
      %p.groups__box__name 北海道
    .groups__box
      %p.groups__box__name 北海道
    .groups__box
      %p.groups__box__name 北海道
    .groups__box
      %p.groups__box__name 北海道