.chat-side
  .side-header
    .side-box 
      .user-name 西雄平
      %ul.menu
        = link_to "#", class: "edit-user" do
          %i.fa.fa-cog
  .groups_box
    .groups
      %p.group-name 北海道
    .groups
      %p.group-name 岩手県
    .groups
      %p.group-name 秋田県
    .groups
      %p.group-name 山形県
    .groups
      %p.group-name 福島県
    .groups
      %p.group-name 茨城県
    .groups
      %p.group-name 北海道
    .groups
      %p.group-name 岩手県
    .groups
      %p.group-name 秋田県
    .groups
      %p.group-name 山形県
    .groups
      %p.group-name 福島県
    .groups
      %p.group-name 茨城県
    .groups
      %p.group-name 北海道
    .groups
      %p.group-name 岩手県
    .groups
      %p.group-name 秋田県
    .groups
      %p.group-name 山形県
    .groups
      %p.group-name 福島県
    .groups
      %p.group-name 茨城県
    .groups
      %p.group-name 北海道
    .groups
      %p.group-name 岩手県
    .groups
      %p.group-name 秋田県
    .groups
      %p.group-name 山形県
    .groups
      %p.group-name 福島県
    .groups
      %p.group-name 茨城県